// Place all the styles related to the Collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.save_btn {
    background-color: #00a1c6;
    color: white;
    border: none;
    width: 150px;
    height: 35px;
    // margin: 20px 0 90px 0;
}